.dropdown.inline
  %button.dropdown-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
    %span.light
    - if @sort.present?
      = sort_options_hash[@sort]
    - else
      = sort_title_recently_updated
    %b.caret
  %ul.dropdown-menu.dropdown-menu-align-right
    %li
      = link_to explore_projects_filter_path(sort: sort_value_name) do
        = sort_title_name
      = link_to explore_projects_filter_path(sort: sort_value_recently_created) do
        = sort_title_recently_created
      = link_to explore_projects_filter_path(sort: sort_value_oldest_created) do
        = sort_title_oldest_created
      = link_to explore_projects_filter_path(sort: sort_value_recently_updated) do
        = sort_title_recently_updated
      = link_to explore_projects_filter_path(sort: sort_value_oldest_updated) do
        = sort_title_oldest_updated
